<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container mt-3">
    <div class="jumbotron">
        {{#if userName}}  
            <div class="form-group last text-right" style="margin-bottom:0px;">
                <form action="/logout" method="get" class="form-horizontal" >
                    <div class="col-sm-offset-3 col-sm-12">
                        <h3 >Bienvenido/a {{userName}} !</h3>
                        <img style="max-height: 40px; max-width: 40px;" src="{{userAvatar}}">
                        <input type="hidden" name="form" />
                        <a class="btn btn-primary btn-sm" href="/">Ir a Productos</a>
                        <button type="submit" class="btn btn-success btn-sm">Desloguearse</button>
                    </div>
                </form>
            </div>
            <h1 style="color:blue;">Carrito</h1>
            <div class="jumbotron" style="background-color:darkgray;">
                <div id="listaCarrito"></div>
            </div>
            <h2 style="color:blue;">Agregar Productos</h2>
            {{!-- <a class="btn btn-primary" href="/index.html">Ir a productos</a> --}}
            <br>
            <div id="listaProductos"></div>
            <script src="/js/carrito.js"></script>
        {{else}}
            <div class="container text-center my-3">
                <div class="form-group">
                    <h3 class="alert alert-danger">Usuario no logueado</h3>
                    {{!-- <a  href='/login' class="btn btn-danger float-right" >Ir a login</a> --}}
                    <a class="btn btn-primary" href="/">Ir a productos</a>
                </div>
            </div>
        {{/if}}
    </div>
</div>
